* {
    font-family: monospace;
    position: relative;
    font-size: 18px;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    min-height: 300px;
    min-width: 600px;
    overflow: hidden;
    height: 100%;
}

ul {
    list-style: none;
    margin-left: -10px;
}

li {
    padding-top: 10px;
}

polygon:hover {
    cursor: pointer;
    opacity: 0.5;
}

.add_child:hover {
    cursor: pointer;
    opacity: 0.5;
}

.node:hover {
    opacity: 0.5;
}

#close_report, #open_report {
    left: calc(70% - 14px);
    position: absolute;
    z-index: 2;
    fill: grey;
    top: 6px;
}

#open_report {
    left: calc(100% - 20px);
}

#tree_container {
    width: calc(100% + 20px);
    overflow-y: scroll;
    height: 100%;
    float: left;
}

#report_container {
    background-color: black;
    width: calc(30% + 20px);
    overflow-y: scroll;
    height: 100%;
    top: -100%;
    z-index: 2;
    left: 70%;
}

#contextmenu_container {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#contextmenu {
    background-color: red;
    height: 100px;
    width: 100px;
}
