rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /projects/{project} {
            function isAdmin() {
                return request.auth.token.email in resource.data.admins;
            }

            function isReader() {
                return request.auth.token.email in resource.data.readers;
            }

            allow read: if isAdmin() || isReader();
            allow write: if isAdmin();
        }
    }
}
