* {
    font-family: monospace;
    font-weight: bold;
    position: relative;
    font-size: 18px;
    outline:none;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    min-height: 300px;
    min-width: 600px;
    overflow: hidden;
    height: 100%;
}

li span {
    white-space: nowrap;
}

.button {
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    margin: 24px -16px 0px 26px;
    padding: 0px 5px 0px 5px;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    width: auto;
}

.button:hover {
    background-color: #eee;
}

.button:active {
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,1);
    left: 2px;
    top: 2px;
}

.context-menu {
    color: #000;
    position: relative;
    left: 0px;
}

.context-menu, .submenu {
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    border: 2px solid black;
    background-color: white;
    position: absolute;
    z-index: 998;
    width: 80px;
}

.item {
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 3px;
    height: 20px;
}

.item span {
    pointer-events: none;
    white-space: nowrap;
    font-size: 16px;
}

.item:hover {
    background-color: #eee;
}

.item:hover > .submenu {
    display: block;
}

.submenu {
    display: none;
    padding: 0px;
    widows: 200px;
    left: 80px;
    top: -2px;
}

.symbol {
    user-select: none;
}

.symbol:hover {
    cursor: pointer;
}

.title:hover {
    cursor: default;
}

.tree-container {
    margin: 20px 0 200px 10px;
}

.tree-container ul ul {
    border-left: 1px solid #f3f3f3;
    margin-left: 4px;
    list-style: none;
}

.tree-container li {
    box-sizing: border-box;
    padding-top: 18px;
}

.dialog-wrapper {
    position: absolute;
    z-index: 10;
}

.dialog {
    padding: 4px 10px 10px 10px;
    transform: translateX(-50%);
    border-radius: 0 0 8px 8px;
    background-color: black;
    text-align: center;
    max-width: 700px;
    min-width: 300px;
    border-top: 0px;
    color: white;
    width: 60%;
    left: 50vw;
}

.dialog-overlay {
    background-color: rgba(0, 0, 0, 0.05);
    transform: translateY(-50%);
    height: 200vh;
    width: 100vw;
    left: 0;
    z-index: -1;
}

.dialog input {
    border: 2px solid white;
    width: calc(100% - 10px);
    border-radius: 2px;
    margin: 5px 0 0 0;
    padding: 0 3px;
}
